<h1>top page</h1>

<%= form_with url: search_path, local: true, method: :get do |f| %>
  <%= f.text_field :word %>
  <%= f.submit "検索" %>
<% end %>

<%= form_tag '/homes', method: :get do %>
  <% [ 'apple', 'banana', 'orange' ].each do |fruit| %>
    <%= check_box_tag 'fruits[]', fruit %>
    <%= label_tag fruit.capitalize, for: 'fruits[]' %><br>
  <% end %>
  <%= submit_tag 'Search' %>
<% end %>
