<div class="container" style="margin: 30px; padding: 100px;">
  <div class="row">

    <div class="col-md-12" style="margin: 20px;">
      <div style="text-align: center;">
        <%= form_with url: search_results_path, local: true, method: :get do |f| %>
          <%= f.text_field :word , style: "width:200px; height: 40px;", placeholder: "キーワード検索" %>
          <%= f.submit "検索", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12" style="margin: 20px;">
      <div style="text-align: center;">
        <%= link_to "こだわり検索", search_path , class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 100px 0px 30px 0px;">

    <h3 style=" background:linear-gradient(transparent 70%, #FFFF00 0%);">新着カフェ</h3>

  </div>
  <div class="row" style="margin: 30px:">

    <% @reviews.each do |review| %>
      <div class="col-md-4" style="padding: 20px;">
        <%= image_tag review.get_image(200,200) %>
      </div>
      <div class="col-md-6" style="padding: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>店舗名</th><td><%= link_to review.cafe_name, review_path(review.id) %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= review.address %></td>
          </tr>
          <tr>
            <th>営業時間</th><td><%= review.opening_hours %></td>
          </tr>
          <tr>
            <th>定休日</th><td><%= review.day_off %></td>
          </tr>
        </table>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
  <div class="row" style="margin: 30px;">
    <h3 style=" background:linear-gradient(transparent 70%, #FFFF00 0%);">新着コメント</h3>
  </div>
  <div class="row" style="margin: 30px;">
    <div class="col-md-8">
      <% @comments.each do |comment| %>
        <%=link_to comment.review.cafe_name , admin_review_path(comment.review.id) %><br>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <% if comment.user.image.attached? %>
          <%= image_tag comment.user.image, class: "rounded-circle", style: "width: 50px; height: 50px;" %>
        <% else %>
          <%= image_tag 'no_image', class: "rounded-circle", style: "width: 50px; height: 50px;" %>
        <% end %>
        <%= comment.user.user_name %>
        <%= comment.comment %><br>
      <% end %>
    </div>
  </div>
</div>

