<h1>top page</h1>

<%= form_with url: search_path, local: true, method: :get do |f| %>
  <%= f.text_field :word %>
  <%= f.submit "検索" %>
<% end %>

<%= form_tag  keyword_search_path, method: :get do %>
  <% Keyword.all.each do |keyword| %>
    <%= check_box_tag 'keywords[]', keyword.id %><%= keyword.keyword %>
    <%#= label_tag keyword.keyword.capitalize, for: 'hogekeywords[]' %><br>
  <% end %>
  <%= submit_tag 'Search' %>
<% end %>
