<div class="container" style="margin: 30px;">
  <div class="row" >

      <% @reviews.each do |review| %>
      <div class="col-md-6" style="padding: 20px;">
        <%= image_tag review.get_image(300,300) %><br>
      </div>
      <div class="col-md-6" style="padding: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>店舗名</th><td><%= link_to review.cafe_name, review_path(review.id) %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= review.address %></td>
          </tr>
          <tr>
            <th>営業時間</th><td><%= review.opening_hours %></td>
          </tr>
          <tr>
            <th>定休日</th><td><%= review.day_off %></td>
          </tr>
          <tr>
        </table>
        <%# if current_user.id == review.user.id %>
          <%#= link_to '編集', edit_review_path(review.id) %>
        <%# end %>

      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>