<div class="container" style="margin: 30px;">
  <div class="row" >
    <div class="col-md-4">
      <div  style="padding: 50px;">
      <%= image_tag @review.get_image(200,200) %><br>
      投稿日 <%= @review.created_at.strftime('%Y/%m/%d') %><br>
      ユーザー名 <%= @review.user.user_name %><br>
      </div>
    </div>
    <div class="col-md-8">
      <div  style="padding: 50px;">
      <table class="table table-bordered" style="bordercolor: white;" >
        <tr>
          <th>店舗名</th><td><%= @review.cafe_name %></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @review.address %></td>
        </tr>
        <tr>
          <th>営業時間</th><td><%= @review.opening_hours %></td>
        </tr>
        <tr>
          <th>定休日</th><td><%= @review.day_off %></td>
        </tr>
        <tr>
          <th>レビュー</th><td><%= @review.review %></td>
        </tr>
        <tr>
          <th>こだわり</th>
          <td>
            <% @review.keywords.each do |keyword| %>
              <%= keyword.keyword %>
            <% end %>
          </td>
        </tr>
      </table>

          <%= link_to '編集', edit_admin_review_path(@review.id) %><br>

        <h5 class="mx-auto text-center" style="margin: 30px;">コメント</h5><br>
        <% if current_user %>
          <%= form_with model: @comments, url: comments_path, method: :post do |f| %>
            <%= f.hidden_field :review_id , value: @review.id %>
            <%= f.text_area :comment, {placeholder: 'コメントを入力してください', size: '40×20'} %>
            <%= f.submit '送信' %><br>
          <% end %>
        <% end %>
        <% @review.comments.each do |comment| %>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user.image.attached? %>
            <%= image_tag comment.user.image, class: "rounded-circle", style: "width: 50px; height: 50px;" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", style: "width: 50px; height: 50px;" %>
          <% end %>
          <%= comment.user.user_name %>
          <%= comment.comment %><br>
        <% end %>

      </div>
    </div>
  </div>
</div>