<h1>user edit page</h1>

<%= form_with model: @user, url:  user_path(current_user), method: :patch do |f| %>
  アイコン<%= f.file_field :image, accept: "image/*" %><br>
  ユーザーネーム<%= f.text_field :user_name %><br>
  メールアドレス<%= f.text_field :email %><br>
  コメント<%= f.text_area :introduction %><br>
  <%= f.submit '更新' %>
<% end %>