<div class="container" style="margin: 30px;">
  <div class="row" >
    <div class="col-md-4">
      <h1>マイページ</h1>
      <% if @user.image.attached? %>
        <%= image_tag @user.image,size: '200×200' %><br>
      <% else %>
        <%= image_tag 'no_image',size: '200×200' %><br>
      <% end %>
      <%= @user.user_name %><br>
      <%= @user.introduction %><br>
      <%= link_to '編集する', edit_user_path(current_user) %><br>
    </div>
    <div class="col-md-6" style="margin: 30px;">
      <h3 style="margin:30px;">投稿一覧</h3>
      <% @reviews.each do |review| %>
        <table style="margin:30px;">
          <%= image_tag review.get_image(100,100) %><br>
          <tr>
            <th style="width:100px;">店舗名</th><td><%= link_to review.cafe_name, review_path(review.id) %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= review.address %></td>
          </tr>
          <tr>
            <th>営業時間</th><td><%= review.opening_hours %></td>
          </tr>
          <tr>
            <th>定休日</th><td><%= review.day_off %></td>
          </tr>
        </table>
      <% end %>

      <h3 style="margin:30px;">ブックマーク一覧</h3>
      <% @bookmarks.each do |bookmark| %>
        <table style="margin:30px;">
          <%= image_tag bookmark.review.get_image(100,100) %><br>
          <tr>
            <th style="width:100px;">投稿者名</th><td><%= bookmark.review.user.user_name %></td>
          </tr>
          <tr>
            <th>店舗名</th>
            <td>
              <%= link_to review_path(bookmark.review) do %>
                <%= bookmark.review.cafe_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>住所</th><td><%= bookmark.review.address %></td>
          </tr>
          <tr>
            <th>営業時間</th><td><%= bookmark.review.opening_hours %></td>
          </tr>
          <tr>
            <th>定休日</th><td><%= bookmark.review.day_off %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
