<h1>my page</h1>
<% if @user.image.attached? %>
  <%= image_tag @user.image,size: '200×200' %><br>
<% else %>
  <%= image_tag 'no_image',size: '200×200' %><br>
<% end %>
<%= @user.user_name %><br>
<%= @user.introduction %><br>
<%= link_to '編集する', edit_user_path(current_user) %>