<h1>my page</h1>
<% if @user.image.attached? %>
  <%= image_tag @user.image,size: '200×200' %><br>
<% else %>
  <%= image_tag 'no_image',size: '200×200' %><br>
<% end %>
<%= @user.user_name %><br>
<%= @user.introduction %><br>
<%= link_to '編集する', edit_user_path(current_user) %>

<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>店舗名</th>
      <th>住所</th>
      <th>営業時間</th>
      <th>定休日</th>
      <th>レビュー</th>
      <th>こだわり</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.review.user.user_name %></td>
        <td>
          <%= link_to review_path(bookmark.review) do %>
            <%= bookmark.review.cafe_name %>
          <% end %>
        </td>
        <td><%= bookmark.review.address %></td>
        <td><%= bookmark.review.opening_hours %></td>
        <td><%= bookmark.review.day_off %></td>
        <td><%= bookmark.review.review %></td>
        <td>
          <% bookmark.review.keywords.each do |keyword| %>
            <%= keyword.keyword %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>